<div class="ui-g" style="text-align:center">
  <div class="ui-g-12"><h1>Log in</h1></div>
  <div class="ui-g-12">

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login/Email" [(ngModel)]="loginData.email.value" name="email">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" [(ngModel)]="loginData.password.value" name="password">
      </mat-form-field>

      <br>
      <button type="submit" mat-raised-button routerLink="" color="accent">Log in</button>
      <br>
      <button mat-button routerLink="/registration" color="link">Register</button>
    </form>
  </div>
</div>

