<div class="ui-g" style="text-align:center">
  <div class="ui-g-12"><h1>Log in.</h1></div>
  <div class="ui-g-12">

    <form class="login-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login/Email">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
    </form>
    <a mat-raised-button routerLink="" color="primary">Log in</a>
    <br>
    <a mat-raised-button routerLink="/registration" color="accent">Register</a>
  </div>
</div>

