<div class="section" *ngIf="account != null">
  <div class="element">
    <mat-card class="example-card center">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{account.name?.firstName}}</mat-card-title>
        <mat-card-subtitle>{{account.name?.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>
          Account number
        </h2>
        <h2>
          {{account.accountNumber?.number}}
        </h2>
        <br>
        <h2>
          Registered at {{account.registeredDateTime}}
        </h2>
        <br>
        <h1>
          Money {{account.totalMoney?.amount}} {{account.totalMoney?.currency}}
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="element">
    <div class="center">
      <app-payments [payments]="account.payments" (paymentsEvent)="handlePaymentEvent($event)"></app-payments>
    </div>
  </div>
</div>
